.center-container {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 65rem;
}

blockquote:first-of-type {
  margin-top: -3rem;
  color: #868e96;
}

figcaption {
  color: #868e96;
}

.center-container>h1 {
  font-size: 3.1rem;
  padding-bottom: 3rem;
}

.center-container>h1~h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.25;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

code.sourceCode, code.hljs {
  border-radius: 5px;
  border: 1px solid #a5d6ff;
}

code:not([class]) {
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #EB5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

img { 
  max-width: 100%;
}